<form>
  <label>Select File:</label>
  <input type="file" name="file" (change)="onSelectFile($event.target.files)" required> <br />

  <label>New Width:</label>
  <input type="number" name="newWidth" [(ngModel)]="newWidth" required> <br />

  <label>New Height:</label>
  <input type="number" name="newHeight" [(ngModel)]="newHeight" required> <br />

  <button (click)="onSubmitForm()">Submit</button>
</form>

<div *ngIf="thumbnail">
  <h2>Image:</h2>
  <img *ngIf="thumbnail" [src]='thumbnail' style="border:1px solid black" />
</div>

<div *ngIf="thumbnail === null">
  <h2>Error!</h2>
</div>