<form>
  <label>Select File:</label>
  <input type="file" name="file" (change)="onSelectFile($event.target.files)" required> <br />

  <label>New Width:</label>
  <input type="number" name="newWidth" [(ngModel)]="newWidth" required> <br />

  <label>New Height:</label>
  <input type="number" name="newHeight" [(ngModel)]="newHeight" required> <br />

  <button (click)="onSubmitForm()">Submit</button>
</form>

<div *ngIf="thumbnail">
  <h2>Image:</h2>
  <img *ngIf="thumbnail" [src]='thumbnail' style="border:1px solid black" />
</div>

<div *ngIf="thumbnail === null">
  <h2>Error!</h2>
</div>

<select id="modeSelector" [(ngModel)]="operationMode">
  <option value="create">Create Documents</option>
  <option value="update">Update Documents</option>
  <option value="delete">Delete Documents</option>
</select>

<div *ngIf="operationMode === 'create'" class="row">
  <div class="column container">
    <h2>Create Product</h2>
    <form>
      <div class="form-row">
        <label>Name</label>
        <input type="text" name="newProductName" [(ngModel)]="newProductName" required><br />
      </div>
      <div class="form-row">
        <label>Description</label>
        <input type="text" name="newProductDescription" [(ngModel)]="newProductDescription" required><br />
      </div>
      <div class="form-row">
        <label>Price</label>
        <input type="number" name="newProductPrice" [(ngModel)]="newProductPrice" required><br />
      </div>
      <div class="form-row">
        <label>Stock</label>
        <input type="number" name="newProductStock" [(ngModel)]="newProductStock" min="0" step="1" required><br />
      </div>

      <div class="form-row">
        <label></label>
        <button (click)="createProduct()">Create Product</button><br />
      </div>
    </form>
  </div>

  <div class="column container">
    <h2>Create Image</h2>
    <form>
      <div class="form-row">
        <input type="file" name="newImageToUpload" (change)="onUploadImageForCreation($event.target.files)" required><br />
      </div>

      <div class="form-row">
        <label></label>
        <button (click)="createImage()">Create Image</button><br />
      </div>
    </form>
  </div>
</div>

<div *ngIf="operationMode === 'update'" class="row">
  <div class="column container">
    <h2>Update Product</h2>
    <form>
      <div class="form-row">
        <label>Select Product To Update</label>
        <select name="productUpdateSelector" [(ngModel)]="productIdToUpdate"
          (change)="onSelectProductToUpdate($event.target.value)">
          <option *ngFor="let product of products" value="{{product.id}}">{{product.id}}</option>
        </select>
      </div>
      <div class="form-row">
        <label>Name</label>
        <input type="text" name="nameOfProductToUpdate" [(ngModel)]="nameOfProductToUpdate" required><br />
      </div>
      <div class="form-row">
        <label>Description</label>
        <input type="text" name="descriptionOfProductToUpdate" [(ngModel)]="descriptionOfProductToUpdate"
          required><br />
      </div>
      <div class="form-row">
        <label>Price</label>
        <input type="number" name="priceOfProductToUpdate" [(ngModel)]="priceOfProductToUpdate" required><br />
      </div>
      <div class="form-row">
        <label>Stock</label>
        <input type="number" name="stockOfProductToUpdate" [(ngModel)]="stockOfProductToUpdate" min="0" step="1"
          required><br />
      </div>
      <div class="form-row">
        <label>Images (Ctrl/Cmd + Click to select multiple)</label>
        <select multiple name="productImagesUpdateSelector" [(ngModel)]="selectedImageIds">
          <option *ngFor="let image of images" value="{{image.id}}">{{image.id}}
          </option>
        </select><br />
      </div>

      <div class="form-row">
        <label></label>
        <button (click)="updateProduct()">Update Product</button><br />
      </div>
    </form>
  </div>

  <div class="column container">
    <h2>Update Image</h2>
    <form>
      <div class="form-row">
        <label>Select Image To Update</label>
        <select name="imageSelector" [(ngModel)]="imageIdToUpdate"
          (change)="onSelectImageToUpdate($event.target.value)">
          <option *ngFor="let image of images" value="{{image.id}}">{{image.id}}</option>
        </select>
      </div>
      <div class="form-row">
        <input type="file" name="newImageToUpdate" (change)="onUploadImageForUpdate($event.target.files)" required><br />
      </div>

      <div class="form-row">
        <label></label>
        <button (click)="updateImage()">Update Image</button><br />
      </div>
    </form>
  </div>
</div>

<div *ngIf="operationMode === 'delete'" class="row">
  <div class="column container">
    <h2>Delete Product</h2>
    <form>
      <div class="form-row">
        <label>Select Product To Delete</label>
        <select name="productDeleteSelector" [(ngModel)]="productIdToDelete">
          <option *ngFor="let product of products" value="{{product.id}}">{{product.id}}</option>
        </select>
      </div>

      <div class="form-row">
        <label></label>
        <button (click)="deleteProduct()">Delete Product</button>
        <br />
      </div>
    </form>
  </div>

  <div class="column container">
    <h2>Delete Image</h2>
    <form>
      <div class="form-row">
        <label>Select Image To Delete</label>
        <select name="imageDeleteSelector" [(ngModel)]="imageIdToDelete">
          <option *ngFor="let image of images" value="{{image.id}}">{{image.id}}</option>
        </select>
      </div>

      <div class="form-row">
        <label></label>
        <button (click)="deleteImage()">Delete Image</button>
        <br />
      </div>
    </form>
  </div>
</div>

<hr />
<button (click)="onToggle()">Toggle Product/Image View</button>
<div *ngIf="displayProducts === true">
  <h1>Products:</h1>
  <button (click)="getAllProducts()">Refresh Table</button>
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
      <th>Stock</th>
      <th>Description</th>
      <th>Images</th>
    </tr>
    <tr *ngFor="let product of products">
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.price | currency:"AUD"}}</td>
      <td>{{product.stock}}</td>
      <td>{{product.description}}</td>
      <td>
        <!-- As each resolved image's ID and URL are obtained asynchronously, use the async pipe to wait for the URL value to arrive. -->
        <!-- To ensure we wait before accessing the ID and URL value, use the "?" operator before ".id" and ".url" -->
        <span *ngFor="let resolvedImage of product.resolvedImages">
          <img src="{{ (resolvedImage | async)?.url }}" height="64" width="64"> &nbsp;
          <span class="image-tooltip">{{ (resolvedImage | async)?.id }}</span>
        </span>
      </td>
    </tr>
  </table>
</div>

<div *ngIf="displayProducts === false">
  <h1>Images:</h1>
  <button (click)="getAllImages()">Refresh Table</button>
  <table>
    <tr>
      <th>ID</th>
      <th>URL</th>
      <th>Preview</th>
    </tr>
    <tr *ngFor="let image of images">
      <td>{{image.id}}</td>
      <td>{{image.url}}</td>
      <td>
        <img src="{{ image.url }}" height="64" width="64">
      </td>
    </tr>
  </table>
</div>
<hr />